/* :root{

} */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
  background-color: grey;
  /* font-family: 'Alata', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  padding: 0;
  margin: 0;
}

header{
  background-color: blueviolet;
  height: 100vh;
  margin-top: -16px;
  background-image: url('../images/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
}
nav ul{
  /* background-color: lightblue; */
  margin-top: 16px;
  /* display: none; */
}

li{
  list-style: none;
  /* border: 2px solid yellow; */
}

.nav-header{
  /* border: 2px solid black; */
  margin-left: -40px;
  margin-bottom: 160px;
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-left: 15px;
  /* background-color: green; */
}

.hamburger{
  margin-right: 15px;
}


img[src="images/logo.svg"]{
  width: 150px;
}

.main-heading{
  color: #fff;
  border: 2px solid #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 39px;
  padding: 30px;
  padding-left: 16px;
  margin: auto;
  width: 85%;
  text-align: left;
  letter-spacing: 3px;
  line-height: 1.1;
}

.main-container{
  background-color: white;
  margin-top: -20px;
}

.vr-image{
 /* border: 3px solid yellow;  */
 display: flex;
 justify-content: center;
 padding-top: 90px;
 margin-bottom: 40px;
}

.image-interactive{
  /* background-color: yellow; */
  /* border: 4px solid blue; */
  width: 88%;

}

.second-heading{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  /* margin-top: 44px; */
}

.INTERATIVE-VR{
  /* color: red; */
  font-size: 32px;
}

.main-copy{
  /* border: 2px solid black; */
  text-align: center;
  padding: 20px;
  line-height: 1.7;
  font-family: 'Alata', sans-serif;
  color: grey;
  width: 90%;
  margin: auto;
  margin-top: -25px;
}

.our{
  position: relative;
  top: 75px;
 }

.gallery{
  /* background-color: aqua; */
  /* border: 2px solid black; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
  margin-top: 100px;
}

.gallery-cards{
  /* border: 2px solid red; */
  width: 88%;
  height: 150px;
  margin: auto;
  margin-bottom: -5px;
}

.gallery-cards p{
  font-family: 'Josefin Sans', sans-serif; 
  color: #fff;
  font-size: 24px;
}
.deep-earth{
  position: absolute;
  top: 1500px;
  left: 40px;
}

.night-arcade{
  position: absolute;
  top: 1642px;
  left: 42px;
  z-index: 1;
}

.soccer-team{
  position: absolute;
  top: 1786px;
  left: 40px;
  z-index: 1;
}

.the-grid{
  position: absolute;
  top: 1935px;
  left: 40px;
  z-index: 1;
}

.from-up-above{
  position: absolute;
  top: 2077px;
  left: 45px;
  z-index: 1;
}
 
.pocket-borealis{
  position: absolute;
  top: 2222px;
  left: 49px;
}

.the-curiosity{
  position: absolute;
  top: 2365px;
  left: 40px;
  z-index: 1;
}

.make-it-fisheye{
  position: absolute;
  top: 2512px;
  left: 40px;
  z-index: 1;
}

 img[src="/images/mobile/image-deep-earth.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;

 }

img[src="/images/mobile/image-night-arcade.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(48%);
}

img[src="/images/mobile/image-soccer-team.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(75%);
}

img[src="/images/mobile/image-grid.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(85%);
}

img[src="/images/mobile/image-from-above.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(70%);
}

img[src="/images/mobile/image-pocket-borealis.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
}

img[src="/images/mobile/image-curiosity.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(68%);
}

img[src="/images/mobile/image-fisheye.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(50%);
}



/* 500px and about */
/* @media(min-width: 500px) {
  header{
    background-position: center;
  }

.hamburger{
    margin-right: 35px;
  }

} */


/* @media(min-width: 800px){
  header{
    background-attachment: fixed;
    background-size: co;
  }
} */