/* :root{

} */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
  background-color: grey;
  /* font-family: 'Alata', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  padding: 0;
  margin: 0;
}

header{
  background-color: blueviolet;
  height: 100vh;
  margin-top: -16px;
  background-image: url('../images/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
}
nav ul{
  /* background-color: lightblue; */
  margin-top: 16px;
  /* display: none; */
}

li{
  list-style: none;
  /* border: 2px solid yellow; */
}

.nav-header{
  /* border: 2px solid black; */
  margin-left: -40px;
  margin-bottom: 160px;
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-body{
  display: none;
}

.logo{
  margin-left: 15px;
  /* background-color: green; */
}

.hamburger{
  margin-right: 15px;
}




img[src="images/logo.svg"]{
  width: 150px;
  
}

.main-heading{
  color: #fff;
  border: 2px solid #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 34px;
  padding: 30px;
  padding-left: 25px;
  margin: auto;
  max-width: 320px;
  text-align: left;
  letter-spacing: 3px;
  line-height: 1.1;
}

.main-container{
  background-color: white;
  margin-top: -20px;
  padding-bottom: 50px;
}

.vr-image{
 /* border: 3px solid yellow;  */
 display: flex;
 justify-content: center;
 padding-top: 90px;
 margin-bottom: 40px;
}

.image-interactive{
  /* background-color: yellow; */
  /* border: 4px solid blue; */
  width: 88%;

}

.second-heading{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  /* margin-top: 44px; */
  /* border: 2px solid red; */
  max-width: 250px;
  margin: auto;
}

.INTERATIVE-VR{
  /* color: red; */
  font-size: 32px;
}

.main-copy{
  /* border: 2px solid black; */
  text-align: center;
  padding: 20px;
  line-height: 1.7;
  font-family: 'Alata', sans-serif;
  color: grey;
  max-width: 80%;
  margin: auto;
  margin-top: 5px;
  font-weight: normal;
}

.our{
  position: relative;
  top: 40px;
  font-weight: normal;
  /* border: 2px solid blue; */
  width: 260px;
  margin:auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;;
  text-align: center;
 }

.gallery{
  margin-top: -10px;
}

.gallery-cards{
  /* border: 2px solid red; */
  width: 88%;
  /* height: 150px; */
  margin: auto;
  margin-bottom: -85px;
}

.gallery-cards p{
  font-family: 'Josefin Sans', sans-serif; 
  color: #fff;
  font-size: 24px;
  text-shadow: 2px 2px 1px rgb(77, 76, 76);
  /* border: 1px solid red; */
  max-width: 200px;
}
.deep-earth{
  position: relative;
  top: 140px;
  left: 18px;
}

.night-arcade{
  position: relative;
  top: 140px;
  left: 18px;
  z-index: 1;
}

.soccer-team{
  position: relative;
  top: 140px;
  left: 18px;
  z-index: 1;
}

.the-grid{
  position: relative;
  top: 140px;
  left: 18px;
  z-index: 1;
}

.from-up-above{
  position: relative;
  top: 140px;
  left: 18px;
  z-index: 1;
}
 
.pocket-borealis{
  position: relative;
  top: 140px;
  left: 18px;
}

.the-curiosity{
  position: relative;
  top: 140px;
  left: 18px;
  z-index: 1;
}

.make-it-fisheye{
  position: relative;
  top: 140px;
  left: 18px;
  z-index: 1;
}

 img[src="/images/mobile/image-deep-earth.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;

 }

img[src="/images/mobile/image-night-arcade.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(48%);
}

img[src="/images/mobile/image-soccer-team.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(75%);
}

img[src="/images/mobile/image-grid.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(85%);
}

img[src="/images/mobile/image-from-above.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(70%);
}

img[src="/images/mobile/image-pocket-borealis.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
}

img[src="/images/mobile/image-curiosity.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(68%);
}

img[src="/images/mobile/image-fisheye.jpg"]{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  filter: brightness(50%);
}

.see-all-btn{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  margin-top: 25px;
}


button{
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  border: 1px solid black;
  padding: 20px;
  background-color: #fff;
  width: 45%;
  margin-top: 90px;
  margin-bottom: 35px;
}

footer{
  background-color: black;
  color: #fff;
  padding-bottom: 20px;
}

.footer-logo{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 5x;
}

a{
  text-decoration: none;
}

.nav-footer-links{
  font-family: 'Alata', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  padding-bottom: 20px;
  gap: 15px;
}

.social-links{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.footer-copyright{
  text-align: center;
  font-family: 'Alata', sans-serif;
  color: grey;
}

/* Any device 375px or smaller */
@media(max-width: 375px){
  .main-heading{
    max-width: 320px;
    font-size: 2rem;
  }
}


/* Any device 450px or bigger */
@media(min-width: 450px){
  header{
    background-color: grey;
    /* background-image: none; */
  }

  .main-heading{
   /* color: pink;  */
  }

  .main-container{
    /* background-color: pink; */
  }

  .main-copy{
    /* color: black; */
    /* border: 2px solid yellow; */
  }

  .gallery-cards{
   margin-bottom: -50px;
   max-width: 430px;
   /* border: 2px solid yellow; */
  }

  

  button{
    max-width: 200px;
    margin-top: 75px;
    font-weight: bolder;
  }  
}

@media(min-width: 550px){
  img[src="images/logo.svg"]{
    /* background-color: pink; */
    width: 200px;
  }  
  
  img[src="images/icon-hamburger.svg"]{
    width: 35px;
  }

  .main-heading{
    max-width: 415px;
    font-size: 3rem;
  }
}


@media(min-width: 768px){
  img[src="images/icon-hamburger.svg"]{
    display: none;
  }

  .nav-header{
    background-color: rgb(20, 5, 5);
    flex-direction: column;
  }
  
  .nav-body{
    display: block;
    border: 2px solid yellow;
    display: flex;
    gap: 2px;
  }

  .nav-body a{
    color: #fff;
  }
  
  
  .main-heading{
    color: rgb(131, 255, 122);
  }
}
